.ad-container h1, h3, p, span{
   margin: 20px;
}

.ad-container{
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    width: 498px;
    background: white;
    margin: 50px;
}

.ad-image{
    width: 498px;
    height: 260px;
    object-fit: cover;
}

.card-ad{
background-size: cover;
width: 500px;
height: 500px;
}

.description-box{
    background: #F0F2F5;
}

#header{
    display: flex;
    justify-content: space-between;
}

.ads-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.social-buttons{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.social-buttons span{
    margin-left: 5px;
    
}

.social-buttons img{
    width: 20px;
    height: 20px;
}

#header button{
    margin-top: 20px;
}